<div class='sobre'>

<h1>Sobre</h1>
    <p>
       Está aplicação foi um desafio tecnico da <a href='https://www.maino.com.br/'>Maino</a> feito por David Gelman Schnee
       para uma vaga de estágio em desenvolvimento.
    </p>
    <p>
     A aplicação tem os seguintes requesitos:
        <ul>
            <li> Possui um sistema de autentificação onde cada Usuário(treinador) pode ter sua conta com times proprios.
            <li> O cadastro do Usuário é necessario informar: Nome, Foto, Email, Idade, Sexo, Senha e Confirmação da senha.
            <li> Cada Usuário(treinador) pode ter N times.
            <li> Cada time tem limite de 6 Pokemons.
            <li> Os pokémons devem ser adicionados à partir da PokéAPI.
            <li> Cada pokemon tem: Nome, tipo e sprite-frontal.
            <li> Todos os campos de input da aplicação tem um processo de validação.
        </ul>
        Agradecimento a <a href='https://www.maino.com.br/'>Maino</a> por ter tido essa oportunidade.
    </p>
</div>